.my {
    padding-top: 2rem;
    a {
        border: none;
        margin-right: 1rem;

        &:hover {
            border: none;
        }
    }
}

// Custom padding-top
@media screen and (min-width: 800px) {
    .my {
        padding-top: 0;
    }
}